html {
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  /outline: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Sintony", sans-serif;
  font-weight: 400;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 23px 50px 26px;
}

.nav {
  display: inline-flex;
  gap: 48px;
  margin-bottom: 10px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.541667px;
  text-transform: uppercase;
  list-style: none;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero {
  height: 650px;
  display: flex;
  justify-content: center;
  width: 100%;
  /* flex-grow: 1; */
  margin-bottom: 118px;
}

.hero-text {
  background-color: #ffc700;
  max-width: 721px;
  max-height: 100%;
  font-family: "Sintony";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 0px;
  padding-bottom: 45.07%;
  width: 50%;
}

.hero-text > h1 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 36px;
  padding-top: 140px;
  padding-right: 96px;
  padding-left: 163px;
}

.hero-text > p {
  padding-right: 96px;
  padding-left: 163px;
}

.hero-text__btn {
  margin-left: 163px;
  width: 216px;
  height: 52px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  padding: 13px 30px 15px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  margin-top: 7px;
}

.hero-text__btn:visited {
  color: rgb(255, 255, 255);
}

.hero-image {
  flex-basis: 50%;
}

/* .services {
  min-height: 784px;
  max-width: 1166px;
  width: 100%;
  margin: auto;
  margin-top: 198px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.services-title {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: right;
  flex-basis: 100%;
  position: absolute;
  z-index: 1;
  right: 27px;
  top: -81px;
}

@media (max-width: 1180px) {
  .services-title {
    position: static;
    text-align: center;
  }
}

.services-title > span {
  color: #ffc700;
}

.services-left-column > .services-item {
  display: inline-block;
  height: 267px;
  width: 482px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 40px 44px 60px 94px;
  position: relative;
  margin-left: 61px;
}

.services-right-column > .services-item {
  display: inline-block;
  height: 267px;
  width: 482px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 40px 88px 60px 50px;
  position: relative;
  margin-left: 80px;
  margin-top: 90px;
  margin-right: 61px;
}



.services-both-columns {
  display: flex;
}

@media (max-width: 1180px) {
  .services-both-columns {
    flex-direction: column;
  }
}

.services-left-column {
  display: flex;
  flex-direction: column;
}

.services-right-column {
  display: flex;
  flex-direction: column;
}

.services-left-column > .services-item {
  margin-bottom: 80px;
}

@media (max-width: 1180px) {
  .services-left-column > .services-item {
    margin: 0;
    margin-top: 80px;
    margin-left: 61px;
  }
} */

.proj-wrap {
  min-height: 1064px;
  background: url(../img/bg-circle.png) no-repeat top left,
    url(../img/bg-square.png) no-repeat 97% 100%;
}

.proj_galery {
  display: grid;
  grid-template-columns: 69px 543px 448px;
  grid-template-rows: 134px 333px 167px 333px;
  column-gap: 27px;
  justify-content: center;
  margin-bottom: 210px;
}

.proj {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.proj__title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 48px;
  line-height: 1.12;
  margin: 0;
}

.proj__title > span {
  color: #ffc700;
}

.proj__line {
  width: 100px;
  border: none;
  background-color: #ffc700;
  height: 6px;
  margin-top: 39.5px;
  margin-bottom: 35.5px;
}

.proj__subtitle {
  font-size: 34px;
  line-height: 1.5;
  max-width: 448px;
}

.proj__desc {
  font-size: 15px;
  line-height: 1.6;
  max-width: 448px;
  margin-top: 37px;
}

.proj__dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 3 / 5;
  margin-left: -53px;
  margin-top: 42px;
  justify-content: center;
  gap: 30px;
}

.proj__dots_item {
  width: 14px;
  height: 14px;
  background: #d8d8d8;
  border-radius: 7px;
  margin-left: 5px;
}

.proj__dots_item_active {
  width: 22px;
  height: 22px;
  background: #ffc700;
  border-radius: 11px;
}

img.proj__img:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

img.proj__img:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

img.proj__img:nth-of-type(3) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  margin-top: 27px;
}

.video-wrap {
  min-height: 550px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 100px;
  background: url(../img/bg-video.png) no-repeat 8% 8%;
  margin-bottom: 8px;
}

.video-wrap > img {
  width: 543px;
  height: 320px;
}

.video-text {
  max-width: 448px;
}

.video-text__title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 34px;
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 333px;
}

.video-text__title > span {
  color: #ffc700;
}

.video-text__desc {
  font-size: 15px;
  line-height: 2.27;
  list-style: disc;
  list-style-position: inside;
}

.video-text__btn {
  width: 160px;
  height: 42px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  padding-top: 15px;
  font-family: "Source Sans Pro";
  font-size: 11px;
  text-align: center;
  letter-spacing: 3.08px;
  text-transform: uppercase;
  margin-top: 34px;
}

.video-text__btn:visited {
  color: rgb(255, 255, 255);
}

.services-grid {
  max-width: 1166px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 543px);
  grid-template-rows: 80px 90px 177px 80px 10px 80px 177px 90px;
  margin: 0 auto;
  grid-column-gap: 80px;
  margin-bottom: 120px;
}

.services-grid-item:nth-of-type(-n + 2) {
  height: 267px;
  width: 482px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 40px 44px 60px 94px;
  position: relative;
  margin-left: 61px;
}

.services-grid-item:nth-of-type(n + 3) {
  height: 267px;
  width: 482px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 40px 88px 60px 50px;
  position: relative;
  margin-right: 61px;
}

div.services-grid-item:nth-of-type(1) {
  grid-row: 2 / 4;
}

div.services-grid-item:nth-of-type(2) {
  grid-row: -5 / -2;
}

div.services-grid-item:nth-of-type(3) {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

div.services-grid-item:nth-of-type(4) {
  grid-row: -3 / -1;
  grid-column: 2 / 3;
}

.services-grid-title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 48px;
  line-height: 1.17;
  text-align: right;
  grid-column: 2 / 3;
  padding-right: 28px;
}

.services-grid-title > span {
  color: #ffc700;
}

.service-name {
  font-family: "Source Sans Pro";
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 20px;
}

.service-text {
  font-family: "Sintony";
  font-size: 15px;
  line-height: 24px;
}

.yellow-circle {
  width: 122px;
  height: 122px;
  background-color: #ffc700;
  border-radius: 61px;
  position: absolute;
  top: 40px;
  right: 421px;
}

.service-logo {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

.yellow-circle-right {
  width: 122px;
  height: 122px;
  background-color: #ffc700;
  border-radius: 61px;
  position: absolute;
  top: 40px;
  left: 421px;
}

.milestone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.milestone__item {
    flex-basis: 24%;
    max-width: 360px;
    min-height: 360px;
    background-color: #000;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 99px;
    /* flex-shrink: 0; */
    text-align: center;
    color: #FFC700;
} 

.milestone__item-number {
    font-size: 80px;
line-height: 1.2;
margin-bottom: 30px;
}



.milestone__item-desc {
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 1.33;
text-align: center;
text-transform: uppercase;
color: #fff;
}

.milestone__item_yellow {
    width: 390px;
    height: 390px;
    color: #fff;
    background-color: #FFC700;
    padding-top: 117px;
    flex-grow: 3;
    /* z-index: 3; */
    max-width: 390px;
}

.blog {
    max-width: 1113px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    flex-wrap: wrap;
}

.blog-title {
    font-family: "Source Sans Pro";
    font-weight: 900;
    font-size: 48px;
    line-height: 1.12;
    margin: 0;
    margin-bottom: 69px;
    /* margin-top: -4px; */
}

.blog-title>span {
    color: #FFC700;
}

.blog-wrap {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 27px;

}

.blog-main {
    flex-basis: 58.7%;
}

.news {
    flex-basis: 41.3%;
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-bottom: 120px;
}

.news-item {
    
    display: grid;
    grid-template-columns: 163px 258px;
    grid-template-rows: 15px 128px;
    grid-column-gap: 27px;
    grid-row-gap: 20px;
}



.news-category {
    font-family: 'Source Sans Pro';
font-size: 12px;
line-height: 15px;
letter-spacing: 0.5px;
text-transform: uppercase;
color: #AEB7C1;
margin-top: 28px;
margin-bottom: 16px;
}

.news-main-title {
    font-family: 'Source Sans Pro';
font-size: 34px;
line-height: 1.5;
margin-bottom: 26px;
}

.news-text {
    font-size: 15px;
line-height: 1.6;
color: #222A41;
margin-bottom: 29px;
}

.blog-readmore-arrow {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
}
.blog-readmore-arrow {
    position: relative;
    top: 6px;
    width: 43px;
    height: 2px;
    background-color: #FFC700;
    left:0;
    display: block;
}
.blog-readmore-arrow::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: -3px;
    right: -2px;
    background-color: #FFC700;
    transform: rotate(40deg);
    border-radius: 3px;
}
.blog-readmore-arrow::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 3px;
    right: -2px;
    background-color: #FFC700;
    transform: rotate(-40deg);
    border-radius: 3px;
}

.blog-readmore {
    display: flex;
    justify-content: end;
}

a.blog-readmore-link {
    font-family: 'Source Sans Pro';
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFC700;
    margin-right: 28px;
}

a.blog-readmore-link:visited {
    color: #FFC700;
}

.news-category-sidebar {
    margin: 0;
    margin-bottom: 20px;
}

.news-title-sidebar {
    font-size: 24px;
line-height: 1.33;
font-family: 'Source Sans Pro';
grid-column: 2 / 3;
}

