html {
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Sintony", sans-serif;
  font-weight: 400;
  position: relative;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 23px 50px 26px;
}

.nav {
  display: inline-flex;
  gap: 48px;
  margin-bottom: 10px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.541667px;
  text-transform: uppercase;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-end;

}

  
  /* Style the links inside the navigation bar */
 
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .nav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  a.icon {
    display: none;
  }



.menu-mobile-line1 {
  background-color: #000;
  width: 30px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}

.menu-mobile-line2 {
  background-color: #000;
  width: 30px;
  height: 4px;
  position: absolute;
  top: 8px;
  border-radius: 2px;
}

.menu-mobile-line3 {
  background-color: #000;
  width: 30px;
  height: 4px;
  position: absolute;
  top: 16px;
  border-radius: 2px;
}

.hero {
    
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 118px;
    position: relative;


  }

.hero-container {
  display: flex;
  justify-content: center;
  display: none;
}

.prev-wrap

 {
    z-index: 3;
    position: absolute;
    width: 50px;
    height: 100px;
    top: calc(50% - 50px);
    left: 0;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;

}

.next-wrap {
    z-index: 3;
    position: absolute;
    width: 50px;
    height: 100px;
    top: calc(50% - 50px);
    right: 0;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}



  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
 

  .sc-left,
  .sc-right {
    height: 100%;
    z-index: 4;
    min-width: 100%;
    position: relative;
  }

  .prev-wrap:hover,
  .next-wrap:hover {
    opacity: 0.5;
  }

  .hero-arrow-left
   {
    position: absolute;
    top: calc(50% - 18px);
    left: 8px;
    z-index: 4;
  }

  .hero-arrow-right {
    position: absolute;
    top: calc(50% - 18px);
    left: 26px;
    z-index: 4;
  }


  



  .hero-container {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



.hero-text {
  background-color: #ffc700;

  height: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 96px;
  padding-left: 163px;
}

.hero-text-wrap {
  width: 462px;
}

.hero-text-title {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 36px;
}

.hero-text-desc {
  font-size: 15px;
  line-height: 1.6;
  padding-right: 14px;
}

.hero-text__btn {
  width: 216px;
  height: 52px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  padding: 13px 30px 15px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  margin-top: 7px;
}

.hero-text__btn:visited {
  color: rgb(255, 255, 255);
}

.hero-image {
  flex-basis: 50%;
}

.hero-imgx2 {
    width: 100%;
}

.proj-wrap {
  min-height: 1064px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 115px;
  padding-top: 135px;
  background: url(../img/bg-square.png) no-repeat 100% 100%;
}

.proj_galery {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(3, max-content);
  grid-gap: 27px;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin-left: 88px;
}

.proj-bg-circle {
  width: 594px;
  height: 594px;
  border-radius: 297px;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  left: -460px;
  top: -2px;
  z-index: -1;
}

.proj {
  max-width: 448px;
  position: absolute;
  left: 152px;
  top: 0;
}

.proj__title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 48px;
  line-height: 1.12;
  margin: 0;
}

.proj__title > span {
  color: #ffc700;
}

.proj__line {
  width: 100px;
  border: none;
  background-color: #ffc700;
  height: 6px;
  margin-top: 39.5px;
  margin-bottom: 35.5px;
}

.proj__subtitle {
  font-size: 34px;
  line-height: 1.5;
  max-width: 448px;
}

.proj__desc {
  font-size: 15px;
  line-height: 1.6;
  max-width: 448px;
  margin-top: 37px;
}

.proj__dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 3 / 5;
  justify-content: center;
  gap: 30px;
  position: absolute;
  left: -5px;
  top: 598px;
}

.proj__dots_item {
  width: 14px;
  height: 14px;
  background: #d8d8d8;
  border-radius: 7px;
  margin-left: 5px;
}

.proj__dots_item_active {
  width: 22px;
  height: 22px;
  background: #ffc700;
  border-radius: 11px;
}

.proj__img_1 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  width: 543px;
  height: auto;
}

.proj__img_2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 448px;
  height: auto;
}

.proj__img_3 {
  width: 448px;
  height: auto;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.video-wrap {
  min-height: 320px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 100px;
  margin-bottom: 120px;
  position: relative;
}

.video-bg-square {
  width: 450px;
  height: 255px;
  position: absolute;
  left: -80px;
  top: -85px;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: -1;
}

.video-wrap > img {
  width: 543px;
  height: 320px;
}

.video-text {
  max-width: 448px;
}

.video-text__title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 34px;
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 333px;
}

.video-text__title > span {
  color: #ffc700;
}

.video-text__desc {
  font-size: 15px;
  line-height: 2.27;
  list-style: disc;
  list-style-position: inside;
}

.video-text__btn {
  width: 160px;
  height: 42px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  padding-top: 15px;
  font-family: "Source Sans Pro";
  font-size: 11px;
  text-align: center;
  letter-spacing: 3.08px;
  text-transform: uppercase;
  margin-top: 34px;
}

.video-text__btn:visited {
  color: rgb(255, 255, 255);
}

.services-grid {
  max-width: 1166px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 543px);
  grid-template-rows: 80px 90px 177px 80px 10px 80px 177px 90px;
  margin: 0 auto;
  grid-column-gap: 80px;
  margin-bottom: 119px;
}

.services-grid-item {
  height: 267px;
  width: 482px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  position: relative;
}

.services-grid-item:nth-of-type(-n + 2) {
  padding: 40px 44px 60px 94px;
  margin-left: 61px;
}

.services-grid-item:nth-of-type(n + 3) {
  padding: 40px 88px 60px 50px;

  margin-right: 61px;
}

div.services-grid-item:nth-of-type(1) {
  grid-row: 2 / 4;
}

div.services-grid-item:nth-of-type(2) {
  grid-row: -5 / -2;
}

div.services-grid-item:nth-of-type(3) {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

div.services-grid-item:nth-of-type(4) {
  grid-row: -3 / -1;
  grid-column: 2 / 3;
}

.services-grid-title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 48px;
  line-height: 1.17;
  text-align: right;
  grid-column: 2 / 3;
  padding-right: 28px;
}

.services-grid-title > span {
  color: #ffc700;
}

.service-name {
  font-family: "Source Sans Pro";
  font-size: 34px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.service-text {
  font-family: "Sintony";
  font-size: 15px;
  line-height: 1.6;
}

.yellow-circle {
  width: 122px;
  height: 122px;
  background-color: #ffc700;
  border-radius: 61px;
  position: absolute;
  top: 40px;
  left: -61px;
}

.service-logo {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

.yellow-circle-right {
  width: 122px;
  height: 122px;
  background-color: #ffc700;
  border-radius: 61px;
  position: absolute;
  top: 40px;
  right: -61px;
}

.milestone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.milestone__item {
  flex-basis: 24%;
  max-width: 360px;
  min-height: 360px;
  background-color: #000;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 99px;
  /* flex-shrink: 0; */
  text-align: center;
  color: #ffc700;
}

.milestone__item-number {
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.milestone__item-desc {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.milestone__item_yellow {
  width: 390px;
  height: 390px;
  color: #fff;
  background-color: #ffc700;
  padding-top: 117px;
  flex-grow: 3;
  /* z-index: 3; */
  max-width: 390px;
}

.blog {
  max-width: 1113px;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 88px;
  padding: 0 15px;
}

.blog-title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 48px;
  line-height: 1.12;
  margin: 0;
  margin-bottom: 69px;
  /* margin-top: -4px; */
}

.blog-title > span {
  color: #ffc700;
}

.blog-wrap {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 27px;
}

.blog-main {
  flex-basis: 58.7%;
}

.news {
  flex-basis: 41.3%;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.news-item {
  display: grid;
  grid-template-columns: 163px 258px;
  grid-template-rows: 15px 128px;
  grid-column-gap: 27px;
  grid-row-gap: 20px;
}

.news-category {
  font-family: "Source Sans Pro";
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #aeb7c1;
  margin-top: 28px;
  margin-bottom: 16px;
}

.news-main-title {
  font-family: "Source Sans Pro";
  font-size: 34px;
  line-height: 1.5;
  margin-bottom: 26px;
}

.news-text {
  font-size: 15px;
  line-height: 1.6;
  color: #222a41;
  margin-bottom: 29px;
}

.blog-readmore-arrow {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 50px;
}
.blog-readmore-arrow {
  position: relative;
  top: 6px;
  width: 43px;
  height: 2px;
  background-color: #ffc700;
  left: 0;
  display: block;
}
.blog-readmore-arrow::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: -3px;
  right: -2px;
  background-color: #ffc700;
  transform: rotate(40deg);
  border-radius: 3px;
}
.blog-readmore-arrow::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 3px;
  right: -2px;
  background-color: #ffc700;
  transform: rotate(-40deg);
  border-radius: 3px;
}

.blog-readmore {
  display: flex;
  justify-content: end;
}

a.blog-readmore-link {
  font-family: "Source Sans Pro";
  font-size: 13px;
  line-height: 1.23;
  text-transform: uppercase;
  color: #ffc700;
  margin-right: 28px;
}

a.blog-readmore-link:visited {
  color: #ffc700;
}

.news-category-sidebar {
  margin: 0;
  margin-bottom: 20px;
}

.news-title-sidebar {
  font-size: 24px;
  line-height: 1.33;
  font-family: "Source Sans Pro";
  grid-column: 2 / 3;
}

.team-wrap {
  max-width: 1113px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
  margin: auto;
  margin-bottom: 120px;
  padding: 0 15px;
}

.team-title {
  font-family: "Source Sans Pro";
  font-size: 48px;
  line-height: 1.17;
  text-align: right;
  max-width: 418px;
  margin-bottom: 70px;
  margin-top: 28px;
}

.team-title > span {
  color: #ffc700;
}

.team {
  display: grid;
  grid-template-columns: 2.16fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 174px auto;
  grid-gap: 27px;
}

.team-img:nth-of-type(1) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.team-img:nth-of-type(2) {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.team-img:nth-of-type(3) {
  grid-row: 1 / 3;
  grid-column: 4 / 5;
}

.team-img:nth-of-type(4) {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
}

.team-img {
  align-self: end;
}

.team-card {
  grid-row: 1 / 3;
  text-align: left;
}

.team-name {
  font-family: "Source Sans Pro";
  font-size: 28px;
  line-height: 1.29;
  margin-bottom: 18px;
  margin-top: -12px;
}

.team-jobtitle {
  font-weight: 700;

  font-size: 13px;

  line-height: 1.3;

  letter-spacing: 0.541667px;

  text-transform: uppercase;

  color: #293340;

  margin-bottom: 20px;
}

.team-icon {
  margin-right: 15px;
  margin-bottom: 45px;
}

.team-desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #222a41;
  margin-bottom: 24px;
}

.team-arrow {
  text-align: right;
  margin-top: 65px;
}

.team-arrow a:nth-child(1) {
  margin-right: 14px;
}

.testimony {
  width: 100%;
  height: 394px;
  background-color: #ffc700;
  position: relative;
}

.quote {
  max-width: 542px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 42%;
  transform: translate(0, -50%);
  text-align: center;
}

.quote-text {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.quote-name {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 1.23;
  letter-spacing: 0.541667px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.quote-jobtitle {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.23;
}

.quote-text::before {
  content: "“";
  color: #000;
  display: block;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 4px;
}

.clients {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 65.375%;
  margin-top: 61px;
  margin-bottom: 160px;
}

.grey-bg {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #f2f2f2;
  flex-wrap: wrap;
}

.contact {
  max-width: 1114px;
  display: flex;
  position: relative;
  z-index: 1;
  margin-bottom: 129px;
  min-height: 632px;
  justify-content: center;
}

.contact-square-bg {
  width: 154px;
  height: 208px;
  background-color: #ffc700;
  position: absolute;
  left: -78px;
  top: -64px;
  z-index: -1;
}

.start {
  background-color: #000;
  color: #fff;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 449px;
  position: relative;
}

.start-title {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.17;
  margin-bottom: 26px;
}

.start-desc {
  font-size: 15px;
  line-height: 1.6;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 136px;
  padding-left: 81px;
  padding-right: 46px;
  align-items: flex-end;
  background-color: #fff;
}

.input {
  width: 537px;
  font-size: 15px;
  line-height: 1.6;
  border-bottom: 1px solid #000;
  padding-left: 12px;
  color: #222a41;
  opacity: 0.5;
  padding-bottom: 10px;
  height: 26px;
}

.input:focus {
  opacity: 1;
  border-bottom: 2px solid #ffc700;
}

.input-name {
  margin-bottom: 65px;
}

.input-email {
  margin-bottom: 47px;
}

.text {
  margin-bottom: 29px;
  resize: none;
  height: 182px;
}

.send {
  width: 154px;
  height: 42px;
  background-color: #ffc700;
  color: #000;
  font-family: "Source Sans Pro";
  font-size: 11px;
  line-height: 2.18;
  text-align: center;
  letter-spacing: 3.08px;
  text-transform: uppercase;
}

.footer {
  background-color: #000;
  min-height: 458px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-wrap {
  display: flex;
  color: #fff;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  flex-basis: 80.29%;
  padding-top: 39px;
}

.footer-contact {
  max-width: 327px;
}

.footer-tags {
  font-size: 15px;
  line-height: 1.6;
  margin-top: 9px;
  margin-bottom: 17px;
}

a[href^="mailto"],
a[href^="tel"] {
  color: #fff;
  font-size: 18px;
  line-height: 1.28;
  display: inline;
}

.footer-contact-wrap {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 13px;
}

.f-envelope {
  width: 15.72px;
  height: 10.29px;
}

.f-phone {
  width: 15.68px;
  height: 15.68px;
}

.footer-nav {
  list-style: none;
}

ul li.footer-title,
.footer-title {
  font-family: "Source Sans Pro";
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 20px;
  list-style: none;
}

.footer-list {
  font-size: 15px;
  list-style: none;
  margin-bottom: 24px;
}

a.footer-list {
  color: #fff;
}

a.footer-list:visited {
  color: #fff;
}

.address {
  max-width: 192px;
}

.footer-address {
  margin-bottom: 38px;

  font-size: 15px;
}

.footer-social {
  margin-right: 14px;
}

@media (max-width: 1330px) {
  .hero-text {
    padding-right: 80px;
    padding-left: 115px;
  }
  .hero-text-title {
    font-size: 47px;
    margin-bottom: 20px;
  }

  .services-grid-item {
    width: 410px;
  }
  .services-grid {
    grid-template-columns: repeat(2, 471px);
    grid-template-rows: 80px 90px 177px 40px 10px 40px 177px 90px;
    grid-column-gap: 50px;
  }

  .service-name {
    font-size: 31px;
    margin-bottom: 12px;
  }
  .services-grid-item:nth-of-type(-n + 2) {
    padding-top: 36px;
    padding-left: 81px;
  }

  .services-grid-item:nth-of-type(n + 3) {
    padding-top: 36px;
  }

  div.services-grid-item:nth-of-type(3) {
    align-self: end;
  }

  div.services-grid-item:nth-of-type(2) {
    grid-row: -4 / -2;
  }

  .proj__img_1 {
    width: 450px;
  }

  .proj__img_2 {
    width: 370px;
  }

  .proj__img_3 {
    width: 370px;
  }
  .proj {
    left: 78px;
  }

  .proj-wrap {
    min-height: 693px;
  }
  .proj_galery {
    margin-left: 48px;
    padding-bottom: 97px;
  }
  .proj__dots {
    left: -5px;
    top: 485px;
  }
  .video-wrap {
    min-height: 300px;
  }

  .video-wrap > img {
    width: 424px;
    height: auto;
  }
  .video-text__title {
    font-size: 31px;
    line-height: 1.3;
    margin-bottom: 15px;
  }

  .video-text__desc {
    font-size: 14px;
  }
  .video-text__btn {
    margin-top: 16px;
  }
  .milestone__item {
    min-height: 315px;
    padding-left: 15px;
    padding-top: 75px;
  }

  .milestone__item_yellow {
    padding-top: 113px;
  }

  .milestone__item-desc {
    font-size: 21px;
  }

  .milestone__item-number {
    margin-bottom: 18px;
    font-size: 73px;
  }

  .news-main-title {
    font-size: 32px;
    line-height: 1.3;
  }

  .news-title-sidebar {
    font-size: 22px;
  }

  .input {
    width: 350px;
  }

  .footer-wrap {
    flex-basis: 93.29%;
  }

  .footer {
    min-height: 400px;
  }

  .footer-contact {
    max-width: 300px;
  }
}

@media (max-width: 1050px) {
  .hero-text {
    padding-right: 40px;
    padding-left: 50px;
  }

  .hero-text-title {
    font-size: 43px;
  }


  .prev-wrap {
    top: calc(50% - 25px);
    width: 25px;
    height: 50px;


}

.next-wrap {
    z-index: 3;
    position: absolute;
    width: 25px;
    height: 50px;
    top: calc(50% - 25px);}


.hero-arrow-left {
    top: calc(50% - 9px);
  left: 4px;
    width: 8.5px;}

    .hero-arrow-right {
        top: calc(50% - 9px);
      left: 13px;
        width: 8.5px;}




  .services-grid {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 30px;
    margin-bottom: 0;
  }
  div.services-grid-item:nth-of-type(1) {
    grid-row: 2 / 3;
    margin-left: 0;
  }
  div.services-grid-item:nth-of-type(2) {
    grid-row: 3 / 4;
    margin-left: 0;
  }
  div.services-grid-item:nth-of-type(3) {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    margin-right: 0;
  }
  div.services-grid-item:nth-of-type(4) {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    margin-right: 0;
  }

  div.services-grid-item:nth-of-type(n + 3) {
    padding: 40px 44px 60px 94px;
  }
  .services-grid-title {
    grid-column: 1 / 2;
    font-size: 45px;
    margin-bottom: 30px;
  }
  .yellow-circle-right {
    top: 40px;
    left: -61px;
  }

  .proj-wrap {
    max-width: 800px;
    background-position-x: 122%;
  }
  .proj_galery {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    margin-left: 0;
  }

  .proj__img_1 {
    grid-row: 1 / 2;
  }

  .proj__img_2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 450px;
  }

  .proj__img_3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 450px;
  }

  .proj {
    position: relative;
    margin: 0 auto;
    margin-bottom: 83px;
    left: 0;
  }
  .proj__dots {
    left: 65px;
    top: 374px;
    flex-direction: row;
  }

  .proj-bg-circle {
    left: -457px;
    top: 0;
  }

  .milestone__item_yellow {
    height: 340px;
    padding-top: 87px;}
  .team {
    grid-template-columns: repeat(4, minmax(60px, 163px));
    grid-template-rows: repeat(3, auto);
  }

  .team-wrap {
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
  }

  .team-card {
    grid-row: 3 / 4;
    text-align: left;
    grid-column: 1 / span 4;
  }

  .team-title {
    justify-self: end;
  }

  .team-img:nth-of-type(1) {
    grid-column: 1 / 2;
  }

  .team-img:nth-of-type(2) {
    grid-column: 2 / 3;
  }

  .team-img:nth-of-type(3) {
    grid-column: 3 / 4;
  }

  .team-img:nth-of-type(4) {
    grid-column: 4 / 5;
  }

  img.team-img {
    min-width: 163px;
  }

  .footer-tags {
    font-size: 13px;
  }
  a[href^="mailto"],
  a[href^="tel"] {
    font-size: 14px;
  }

  .footer-list,
  .footer-address {
    font-size: 13px;
  }
  .footer-contact {
    max-width: 200px;
  }
}

@media (max-width: 950px) {
  .hero-text-title {
    font-size: 37px;
    margin-bottom: 10px;
  }
  .video-wrap {
    flex-direction: column-reverse;
    gap: 59px;
  }

  .video-bg-square {
    top: 226px;
  }

  .contact {
    flex-wrap: wrap;
  }

  .start {
    padding: 50px;
    max-width: 476.98px;
  }

  .form {
    padding-top: 61px;

    padding-bottom: 30px;
    padding-left: 46px;
  }

  .input-name {
    margin-bottom: 35px;
  }

  .input-email {
    margin-bottom: 35px;
  }
  .input {
    width: 385px;
  }
}

@media (max-width: 850px) {
  .hero-text__btn {
    width: 167px;
    height: 41px;
    padding-top: 12px;
    font-size: 11px;
  }

  .hero-text-title {
    font-size: 27px;
  }

  .hero-text-desc {
    font-size: 13px;
    line-height: 1.4;
  }

  .milestone__item-number {
    margin-bottom: 18px;
    font-size: 53px;
  }

  .milestone__item-desc {
    font-size: 17px;
  }

  .milestone__item {
    min-height: 220px;
    padding-top: 58px;
  }

  .milestone__item_yellow {
    height: 250px;
    padding-top: 77px;
  }

  .blog-wrap {
    flex-wrap: wrap;
    gap: 50px;
  }

  .blog-title {
    padding-left: 67px;
  }

  .news {
    flex-basis: 100%;
    align-items: center;
  }

  .blog-main {
    flex-basis: 100%;
    max-width: 638px;
  }

  .clients {
    flex-basis: 65%;
    flex-wrap: wrap;
  }

  .footer-wrap {
    flex-wrap: wrap;
    flex-basis: 80%;
    gap: 48px;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .footer-contact {
    flex-basis: 42%;
    max-width: 400px;
  }

  .address {
    flex-basis: 42%;
    max-width: 400px;
    order: 3;
  }

  .footer-services {
    flex-basis: 30%;
  }

  .footer-aboutus {
    flex-basis: 30%;
    order: 4;
  }

  .footer-list {
    margin-bottom: 15px;
  }
}

@media (max-width: 780px) {
  .team {
    grid-template-columns: repeat(2, minmax(60px, 163px));
    grid-template-rows: repeat(3, auto);
  }

  .team-card {
    grid-column: 1 / span 2;
  }

  .team-img:nth-of-type(1) {
    grid-row: 2 / 3;
  }

  .team-img:nth-of-type(2) {
    grid-row: 2 / 3;
  }

  .team-img:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .team-img:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .team-title {
    margin-bottom: 13px;
  }
}

@media (max-width: 700px) {
  .nav {
    gap: 30px;

    font-size: 11px;
  }

  .header {
    padding-left: 23px;
    padding-right: 23px;
  }

  .hero-text-title {
    font-size: 20px;
  }

  .hero-text-desc {
    font-size: 12px;
    line-height: 1.2;
  }

  .hero-text__btn {
    width: 126px;
    height: 30px;
    padding-top: 6px;
    font-size: 10px;
    letter-spacing: 2.2px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .milestone__item-number {
    margin-bottom: 4px;
    font-size: 33px;
  }

  .milestone__item-desc {
    font-size: 12px;
  }

  .milestone__item {
    min-height: 120px;
    padding-top: 22px;
  }
  .milestone__item_yellow {
    height: 150px;
    padding-top: 40px;
  }

  .team-title,
  .services-grid-title,
  .proj__title,
  .blog-title {
    font-size: 29px;
  }

  .proj__subtitle {
    font-size: 25px;
  }

  .proj-wrap {
    background: none;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .video-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .video-bg-square {
    display: none;
  }

  .news-main-title {
    font-size: 25px;
    line-height: 1.2;
  }

  .team-title {
    align-self: center;
  }

  .team-wrap {
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 580px) {

    
    .header {
    align-items: flex-start;
    }
    
        .nav {max-height: 0;
            overflow: hidden;
            transition: 1s cubic-bezier(0.01, 0.01, 0.59, 0.72) max-height;;}

            .nav a {
                display: none;
            }
        a.icon {
          display: block;
          font-size: 27px;
          color: #000000;
          text-align: center;
          padding: 14px 16px;}
      

      
            .nav.responsive {position: absolute;
                
              flex-direction: column;
              top: 69px;
              z-index: 10;
              width: 100%;
              left: 0;
              font-size: 17px;
              padding: 40px 37px 30px 0;
              max-height: 300px;
            }
            .nav.responsive a.icon {
              position: absolute;
              right: 0;
              top: 0;
            }
            .nav.responsive a {
              display: flex;
              text-align: left;
            }

  .prev-wrap
   {
    margin-left: 14px;
    top: 450px;
}

.next-wrap {
    margin-right: 14px;
    top: 450px;
}

  .hero {
    margin-bottom: 78px;
    padding: 0 15px;
  }

  .hero-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-text {
    width: 90vw;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hero-image {
    width: 90vw;
  }

  .proj__dots {
    left: 0;
    top: 340px;
    gap: 28px;
  }
  .service-name {
    font-size: 25px;
    margin-bottom: 5px;
    line-height: 1.2;
  }

  .service-text {
    font-size: 14px;
    line-height: 1.4;
  }

  .yellow-circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: -50px;
  }
  .yellow-circle-right {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: -50px;
  }
  .service-logo {
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    width: 56px;
  }

  .services-grid-item {
    width: 272px;
    height: 300px;
    margin-left: 50px;
  }

  div.services-grid-item:nth-of-type(-n + 2) {
    margin-left: 50px;
    padding-top: 40px;
  }

  div.services-grid-item:nth-of-type(n + 3) {
    padding-top: 40px;
    padding-left: 81px;
  }

  .blog-wrap {
    width: 100%;
  }
  .news {
    width: 100%;
  }
  .news-item {
    grid-template-columns: 163px auto;
  }

  .proj-wrap {
    padding-top: 85px;}

  .proj_galery {
    padding-bottom: 70px;}

  .video-wrap {
    margin-bottom: 69px;}

    .video-text__btn {
        margin-left: 74px;}
    
        .video-text__desc {
            line-height: 1.6;
            padding-left: 74px;}

  .milestone {
    margin-bottom: 48px;
  }
  .milestone__item-number {
    font-size: 22px;
  }

  .milestone__item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .milestone__item_yellow {
    height: 130px;
    padding-top: 27px;
  }


  .blog-title {
    margin-bottom: 24px;}
  .quote {
    padding: 0 30px;
  }


  .team-wrap {
    margin-bottom: 30px;}
  .team {
    grid-gap: 15px;
  }

  img.team-img {
    max-width: 163px;
    width: 163px;
  }

  .clients {
    margin-bottom: 70px;
  }

  .input {
    width: 290px;
  }

  .form {
    padding-left: 30px;
    padding-right: 30px;
  }

  .start {
    width: 350px;
    padding: 38px;
  }

  .start-title {
    font-size: 33px;
  }

  .footer-wrap {
    flex-basis: 90%;
  }

  .footer-social {
    margin-right: 4px;
    width: 33px;
  }
}
